<div th:replace="fragments/header :: header"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<div
				class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-top border-bottom">
				<h1>Accueil</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
		<div class="row" th:if="${msgInscriptionOK != null}">
					<div class="col-md-10 mx-auto alert alert-success" role="alert"
						th:text="${msgInscriptionOK}"></div>
				</div>
		</div>
	</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>