<div th:replace="fragments/header :: header"></div>
<div class="container">
	<div class="row">
		<div class="col">
		<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-3 border-top border-bottom">
		<h1>Nos véhicules</h1>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
		<div th:if="${not #lists.isEmpty(listeVehicules)}"
					th:each="vehicule : ${listeVehicules}" class="col-sm-4">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<img th:src="@{${vehicule.picture}}"
									class="img-fluid" th:alt="${vehicule.brand +' ' + vehicule.model}">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title" th:text="${vehicule.brand}"></h5>
									<p class="card-text" th:text="${vehicule.model}"></p>
									<p class="card-text" th:text="${vehicule.model}">Nb options</p>
									<!--  <p class="card-text" th:text="${vehicule.price}">€</p>-->
									<p class="card-text" th:text="${#strings.replace(#numbers.formatCurrency(vehicule.price), '.00', '&#8364;')}"></p>
									<p class="card-text">
										<a href="#" class="btn btn-primary">Ajouter</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>